* {
  box-sizing: border-box;
}

.body {
  background: rgb(251, 251, 251);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
  height: 100vh;
  /* margin: -20px 0 50px; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
